auto-install-peers=true
public-hoist-pattern[]=*storybook* # TODO: remove hoisting after storybook issue is fixed, maybe in v7 ?
# public-hoist-pattern[]=*lodash*
# public-hoist-pattern[]=*invariant*
# public-hoist-pattern[]=*axios*
# public-hoist-pattern[]=*axios*