APP_HOST=nextapp.localhost
APP_ID=nextapp

# Setup docker images
#APP_NODE_IMAGE=docker.mediafactory.dev/node/node:18-slim
APP_NODE_IMAGE=eldy/node:18-alpine3.17

# On STAGE/PROD use "stage" or "prod" respectively
USE_ENVIRONMENT=local
# use local|dev|prod or sync when you use docker-sync on mac
RUNENV=local

# On STAGE/PROD use "always"
DOCKER_RESTART_POLICY=no

##### DEV stuff, comment or remove on STAGE/PROD
COMPOSE_CONVERT_WINDOWS_PATHS=0
# LOCAL Stuff, extras
